.informacoes {
    justify-content: center;
}

#contatos {
    display: block;
    margin-left: 0;
}

#contatos .contato {
    padding-left: 0;
}

.contato {
    padding-top: 20px;
}

#socialmedia {
    display: block;
    margin-right: 0rem;
    margin-left: 20px;
}

#socialmedia .redesocial {
    padding-right: 0;
}

.redesocial {
    padding-top: 20px;
}

.navegacao {
    position: relative;
    z-index: 1;
}

.hamburguer {
    display: block;
    padding: 0;
    margin-right: 20px;
    border: none;
    border-radius: 0;
    border: none;
    background: none;
    border-top: 3px solid #eee;
    cursor: pointer;
    z-index: 1;
}

.hamburguer::before,.hamburguer::after {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background: #eee;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

.nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #201e1f;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    clip-path: circle(100px at 90% -45%);
    transition: 1s ease-out;
    pointer-events: none;
}

.navegacao.active .nav-list {
    clip-path: circle(1500px at 90% -45%);
    pointer-events: all;
}

.navegacao.active .hamburguer {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
}

.navegacao.active .hamburguer::before {
    transform: rotate(135deg);
}

.navegacao.active .hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
}
.menu-grid-events h1 {
    max-width: 100vh;
    margin-right: 0;
    margin-left: 0;
    border-radius: 0rem 0rem 1rem 1rem;
}

.eventos-eventos {
    display: block;
    /* overflow-x: scroll;
    width: 1200px; */
}

.cardeventos-eventos {
    max-width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.eventos-proximos {
    border-radius: 5rem;
}

.eventos-proximos h2 {
    margin-top: -5px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 5px;
    border-radius: 5rem 5rem 8rem 8rem;
}

.eventos-passados {
    border: 10px solid #ec3237;
    margin: 10px;
    border-radius: 5rem;
    background-color: #861c1f;
}

.eventos-passados h2 {
    margin-top: -5px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 5px;
    border-radius: 5rem 5rem 8rem 8rem;
}