.informacoes {
    justify-content: center;
}

#contatos {
    display: block;
    margin-left: 0;
    padding-top: 40px;
}

#contatos .contato {
    padding-left: 0;
}

.contato {
    padding-top: 20px;
}

#socialmedia {
    display: block;
    margin-right: 0rem;
    margin-left: 20px;
    padding-top: 40px;
}

#socialmedia .redesocial {
    padding-right: 0;
}

.redesocial {
    padding-top: 20px;
}

.navegacao {
    position: relative;
    z-index: 1;
}

.hamburguer {
    display: block;
    padding: 0;
    margin-right: 20px;
    border: none;
    border-radius: 0;
    border: none;
    background: none;
    border-top: 3px solid #eee;
    cursor: pointer;
    z-index: 1;
}

.hamburguer::before,.hamburguer::after {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background: #eee;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

.nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #201e1f;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    clip-path: circle(100px at 90% -45%);
    transition: 1s ease-out;
    pointer-events: none;
}

.navegacao.active .nav-list {
    clip-path: circle(1500px at 90% -45%);
    pointer-events: all;
}

.navegacao.active .hamburguer {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
}

.navegacao.active .hamburguer::before {
    transform: rotate(135deg);
}

.navegacao.active .hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
}

#menu-grid {
    display: block;
}

#menu-grid div {
    padding: 10px;
}

input[type=text], input[type=password] {
    width: 100%;
}

span.psw {
    margin-left: 0;
}

.container {
    width: 100%;
}

.imgcontainer {
    text-align: center;
    margin: 0;
}

.eventos {
    display: block;
}

.cardeventos {
    margin-top: 40px;
    margin-left: 50px;
    max-width: 100%;
    text-align: center;
}

.cardeventos h3 {
    background-color: #03a85a;
    border-radius: 2rem;
    color: #eee;
    padding: 5px;
    font-size: 19px;
}

.cardeventos img {
    border-radius: 1rem;
}

.cardeventos h6 {
    margin-top: 6px;
    color: #eee;
}

.eventos {
    text-align: center;
}

.eventos img {
    margin-bottom: 10px;
}

.eventos {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    width: 100%;
}

.eventos::-webkit-scrollbar {
    width: 10px;
}
  
.eventos::-webkit-scrollbar-track {
    background: #201e1f;
    border-radius: 2rem;
}
  
.eventos::-webkit-scrollbar-thumb {
    background: #04AA6D ;
    border-radius: 10rem 10rem 10rem 10rem;
}

/* Noticias */

.noticias {
    max-width: max-content;
}

.noticiapostada {
    display: block;
}

.noticiapostada img {
    width: 330px;
}

.documentario {
    display: block;
    text-align: left;
}

.documentario p {
    padding: 0;
}

.noticiapostada button {
    width: 200px;
}

.noticiapostada button:hover {
    filter: drop-shadow(0px 0px 4px);
    color: #000;
}


/* POPUP NOTICIAS */

.noticiasdodia a {
    color: #eee;
}

.noticiasdodia button {
    align-self: flex-end;
}

.modalDialog {
    display: block;
    position: fixed;
    font-family: 'Nunito', sans-serif;
    font-size: 19px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog h2 {
    margin-top: 10px;
}

.noticiario {
    display: block;
}

.noticiario img {
    position: fixed;
    padding: 0;
    filter: drop-shadow(0px 0px 5px);
    border-radius: 50rem;
    width: 100px;
    align-items: center;
}

.noticiario p {
    background: #04AA6D;
    padding-top: 20px;
    border-radius: 1rem;
    margin-top: 100px;
    font-size: 13px;
    margin-bottom: 0;
}

.modalDialog:target {
    opacity: 3;
    pointer-events: auto;
}

.modalDialog > div {
    width: 370px;
    position: absolute;
    margin: 5px;
    padding: 0;
}

.close {
    background: #03a85a;
    color: #eee;
    line-height: 25px;
    position: absolute;
    right: 50px;
    text-align: center;
    top: -10px;
    width: 150px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}  


.close:hover {
    background: #00d9ff;
}

/* Dias Especiais */
.teia-de-aranha {
    position: absolute;
    user-select: none;
    pointer-events: none;
    z-index: 1;
    opacity: 0.5;
    margin-top: 50px;
}
.morcego {
    position: absolute;
    width: 30%;
    user-select: none;
    pointer-events: none;
    z-index: 1;
}
.caveira {
    position: absolute;
    width: 20%;
    user-select: none;
    pointer-events: none;
    z-index: 1;
}